---
type Crumb = {
  label: string;
  href?: string;
};

interface Props {
  items: Crumb[];
}

const { items } = Astro.props;
---

<nav aria-label="面包屑" class="breadcrumbs">
  <ol>
    {items.map((item, index) => (
      <li>
        {item.href && index !== items.length - 1 ? <a href={item.href}>{item.label}</a> : <span>{item.label}</span>}
      </li>
    ))}
  </ol>
</nav>
